name: Python CI
on: 
  push:
    branches: [master]
  pull_request:
    types:
      - opened
      - edited
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@v4 
      
      - name: Setup Python environment
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
      
      - name: Install dependencies
        run: |
             python -m pip install --upgrade pip
             pip install -r requirements.txt

      - name: Run tests
        run: pytest


